.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: rgb(100, 100, 100);
  gap: 20px;
}

// ------------------------ 問卷預覽 ------------------------ //

.content{
  width: 100%;
  max-width: 640px;
  //text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
  padding: 10px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.1);
  border-top: 30px solid rgb(230, 130, 87);
}

.survey {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.surveyInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 30px;
}

.personInfo {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: rgb(250, 249, 253);
  margin: 10px 25px;
}

.question {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

pre {
  line-height: 1.6; /* 調整行間距 */
}
