<div class="container">
  <!--------------------- 左側 --------------------->
  <aside class="sidebar">
    <button disabled class="locked-button">設定問卷</button>
    <button
      routerLink="/check"
      style="background-color: rgb(230, 130, 87); color: white"
    >
      確認問卷
    </button>
    <button disabled class="locked-button">發布問卷</button>
  </aside>

  <!--------------------- 右側 --------------------->
  <main class="content">
    <div class="survey-preview">
      <!-- 問卷資料 -->
      <div class="surveyInfo">
        <h2 style="margin: 0; letter-spacing: 2px">{{ transferData.name }}</h2>
        <span>{{ transferData.description }}</span>
        <span style="font-size: 14px; color: rgb(230, 130, 87)"
          >開始時間：{{ transferData.startDate }}　|　結束時間：{{
            transferData.endDate
          }}</span
        >
      </div>

      <!-- 基本資料 -->
      <div class="personInfo">
        <div>
          <input
            style="width: 200px"
            placeholder="請輸入名稱"
            [(ngModel)]="userName"
          />
          <span style="color: red; font-size: 12px">*</span>
        </div>
        <div>
          <input
            style="width: 200px"
            placeholder="請輸入電話"
            [(ngModel)]="userPhone"
          />
          <span style="color: red; font-size: 12px; margin: 0">*</span>
        </div>
        <div>
          <input
            type="email"
            style="width: 200px; margin-right: 5px"
            placeholder="請輸入信箱"
            [(ngModel)]="userEmail"
          />
        </div>
        <div>
          <input
            style="width: 200px; margin-right: 5px"
            placeholder="請輸入年齡"
            [(ngModel)]="userAge"
          />
        </div>
      </div>

      <!-- 問題 -->
      <div
        *ngFor="let question of transferData.questionArray; let i = index"
        class="question"
      >
        <div>
          <span style="font-weight: 600"
            >Q{{ i + 1 }}：{{ question.title }}</span
          >
          <!-- 類型 -->
          @if(question.type=='S'){
          <span style="color: rgb(100, 100, 100)">（單選）</span>
          }@else if (question.type=='M') {
          <span style="color: rgb(100, 100, 100)">（多選）</span>
          }@else {
          <span style="color: rgb(100, 100, 100)">（簡答）</span>
          }
          <!-- 必填 -->
          @if (question.necessary) {
          <span style="color: red">*</span>
          }
        </div>

        <!-- 問題類型 -->
        <ng-container [ngSwitch]="question.type">
          <!--  position: relative 或 z-index 來調整其位置優先度 -->

          <!-- 單選題 -->
          <div *ngSwitchCase="'S'">
            <label
              style="position: relative; z-index: 1"
              *ngFor="let item of question.options; let j = index"
            >
              <input
                type="radio"
                name="{{ question.questionId }}"
                value="{{ item.option }}"
                style="margin-bottom: 10px"
              />
              {{ item.option }}
              <br />
            </label>
          </div>

          <!-- 多選題 -->
          <div *ngSwitchCase="'M'">
            <label
              *ngFor="let item of question.options; let j = index"
              style="position: relative; z-index: 1"
            >
              <input
                type="checkbox"
                value="{{ item.option }}"
                style="margin-bottom: 10px"
              />
              {{ item.option }}
              <br />
            </label>
          </div>

          <!-- 簡答題 -->
          <textarea
            class="shortAnswer"
            *ngSwitchCase="'T'"
            type="text"
            placeholder="請輸入答案"
            style="width: 400px; height: 80px; resize: vertical"
          ></textarea>
        </ng-container>
      </div>
      <!-- 上一步＆下一步 -->
      <div class="step">
        <button (click)="toQuestionSettings(transferData.quizId)">編輯</button>
        <button (click)="toSave()">儲存</button>
        <button (click)="toPublish()" class="step-btn">發布</button>
      </div>
    </div>
  </main>
</div>
