<div class="container">
  <aside class="sidebar">
    <!--------------------- 左側功能表 --------------------->
    <button disabled class="locked-button">填寫問卷</button>
    <button
      routerLink="/preview"
      style="background-color: rgb(230, 130, 87); color: white"
    >
      預覽問卷
    </button>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>

    <!---------------------  右側  --------------------->
    <div class="survey">
      <!-- 問卷資料 -->
      <div class="surveyInfo">
        <h2 style="margin: 0; letter-spacing: 2px">{{ questData.name }}</h2>
        <span style="font-size: 15px">{{ questData.description }}</span>
        <span style="font-size: 14px; color: rgb(230, 130, 87)"
          >開始時間：{{ questData.startDate }}　|　結束時間：{{
            questData.endDate
          }}</span
        >
      </div>

      <!-- 基本資料 -->
      <div class="personInfo" style="margin-bottom: 10px">
        <div>
          <label>名稱：</label>
          <span style="color: rgb(92, 76, 76); margin-bottom: 5px">{{
            questData.userName
          }}</span>
          <span style="color: red">*</span>
        </div>
        <div>
          <label>信箱：</label>
          <span style="color: rgb(92, 76, 76); margin-bottom: 5px">{{
            questData.userEmail
          }}</span>
          <span style="color: red">*</span>
        </div>
        <div>
          <label>手機：</label>
          <span style="color: rgb(92, 76, 76); margin-bottom: 5px">{{
            questData.userPhone
          }}</span>
        </div>
        <div>
          <label>年齡：</label>
          <span style="color: rgb(92, 76, 76); margin-bottom: 5px">{{
            questData.userAge
          }}</span>
        </div>
      </div>

      <!-- 問題 -->
      <!-- 1. for遍歷問卷的問題 -->
      <div
        class="question"
        *ngFor="let question of questData.questionArray; let i = index"
      >
        <!-- 2. 類型 -->
        <div style="margin-bottom: 10px">
          <span style="font-weight: 600"
            >Q{{ i + 1 }}：{{ question.title }}</span
          >
          @if(question.type=='S'){
          <span style="color: rgb(100, 100, 100)">（單選）</span>
          } @else if (question.type=='M') {
          <span style="color: rgb(100, 100, 100)">（多選）</span>
          } @else {
          <span style="color: rgb(100, 100, 100)">（簡答）</span>
          }
          <!-- 必填 -->
          @if (question.necessary) {
          <span style="color: red">*</span>
          }
        </div>

        <!-- 3. if判斷問題類型 -->

        <!-- 3-1. S(單選)：for遍歷選項，答案存在 radioAnswer ，所以可用 optionNumber 判斷是哪個 option -->
        @if (question.type=='S') { @if (question.radioAnswer) { @for (option of
        question.options; track $index) { @if (question.radioAnswer ==
        option.optionNumber) {
        <span style="color: rgb(92, 76, 76)">{{ option.option }}</span>
        } } } @else {
        <span>無</span>
        } }

        <!-- 3-2. M(多選)：filter 篩選 boxBoolean 為 true ，則加入選項 -->
        @if (question.type=='M') { @for(opt of question.options; track $index){
        @if(opt.boxBoolean === true){
        <span style="color: rgb(92, 76, 76)">
          {{ getMultiIndex(question.options, opt) + 1 }}.&nbsp;{{
            opt.option
          }}</span
        >
        } } }

        <!-- 3-3. T(簡答)：for遍歷選項，直接代入答案 -->
        @if (question.type=='T') { @if (question.answer) {
        <textarea
          [disabled]="true"
          style="
            color: rgb(92, 76, 76);
            font-size: 15px;
            margin-bottom: 15px;
            width: 400px;
            height: 80px;
            resize: vertical;
            text-align: center;
          "
          >{{ question.answer }}</textarea
        >
        } @else {
        <span
          style="color: rgb(92, 76, 76); font-size: 15px; margin-bottom: 15px"
          >無</span
        >
        } }
      </div>
    </div>
    <!-- 上一步＆下一步 -->
    <div class="step">
      <button (click)="toFillIn()" class="step-btn">更改</button>
      <button (click)="toSubmit(quizId)" class="step-btn">送出</button>
    </div>
  </main>
</div>
