<div class="container">
  <!--------------------------- 功能 --------------------------->
  <aside class="sidebar">
    <button
      routerLink="/question-settings"
      style="background-color: rgb(230, 130, 87); color: white"
    >
      設定問卷
    </button>
    <button (click)="submitToCheck()">確認問卷</button>
    <button (click)="ban()">發布問卷</button>
  </aside>

  <!--------------------------- 問卷基本資訊 --------------------------->
  <main class="content">
    <div class="question-settings">
      <h2>新增問卷</h2>
      <div style="display: flex; gap: 10px">
        <input
          class="name"
          type="text"
          [(ngModel)]="name"
          placeholder="問卷名稱"
        />
      </div>

      <div style="display: flex; gap: 10px">
        <textarea
          [(ngModel)]="description"
          placeholder="問卷說明"
        ></textarea>
      </div>

      <div class="date" style="display: flex; gap: 10px">
        <input
          type="date"
          [min]="defaultDate"
          [(ngModel)]="startDate"
          (ngModelChange)="checkEndDate($event)"
          style="width: 235px"
        />
        <label style="margin: 5px auto">到</label>
        <input
          type="date"
          [min]="startDate"
          [(ngModel)]="endDate"
          style="width: 235px"
        />
      </div>

      <!--------------------------- 問題設定區 --------------------------->
      <h2>設定問題</h2>
      <div style="display: flex; gap: 10px">
        <input type="text" [(ngModel)]="title" placeholder="問題名稱" />
      </div>

      <div style="width: 500px; display: flex;justify-content: center;">
        <div style="display: flex; gap: 20px; margin: 0;">
          <select [(ngModel)]="type">
            <option value="S">單選</option>
            <option value="M">多選</option>
            <option value="T">簡答</option>
          </select>

          <div class="necessary">
            <label class="switch">
              <input type="checkbox" [(ngModel)]="necessary" /><span
                class="slider"
              ></span
              ><label style="font-size: 14px">必填</label>
            </label>
          </div>
        </div>
      </div>

      <!-- 單選選項 -->
      @if(type === 'S'){
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-right: 30px;
        "
      >
        @for (option of options; track $index) {
        <div style="display: flex; align-items: center; gap: 10px">
          <input type="radio" style="width: 14px" disabled="disabled" />
          @if(isNew){
          <input
            type="text"
            [(ngModel)]="option.answer"
            placeholder="輸入選項"
            style="width: 200px"
          />
          <div class="icon-delete-select">
            <link
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet"
            />
            <span
              class="material-symbols-outlined"
              (click)="removeOption($index)"
            >
              delete
            </span>
          </div>
          } @else {
          <input
            type="text"
            [(ngModel)]="option.optionName"
            placeholder="輸入選項"
            style="width: 200px"
          />
          <div class="icon-delete-select">
            <link
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet"
            />
            <span
              class="material-symbols-outlined"
              (click)="removeOption($index)"
            >
              delete
            </span>
          </div>
          }
        </div>
        }
      </div>
      <button class="add-option" (click)="addOption()">新增選項</button>
      }

      <!-- 多選選項 -->
      @if(type === 'M'){
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-right: 30px;
        "
      >
        @for(option of options; track $index){
        <div style="display: flex; align-items: center; gap: 10px">
          <input type="checkbox" style="width: 14px" disabled="disabled" />
          @if(isNew){
          <input
            type="text"
            [(ngModel)]="option.answer"
            placeholder="輸入選項"
            style="width: 200px"
          />
          <div class="icon-delete-select">
            <link
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet"
            />
            <span
              class="material-symbols-outlined"
              (click)="removeOption($index)"
            >
              delete
            </span>
          </div>
          } @else {
          <input
            type="text"
            [(ngModel)]="option.optionName"
            placeholder="輸入選項"
            style="width: 200px"
          />
          <div class="icon-delete-select">
            <link
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet"
            />
            <span
              class="material-symbols-outlined"
              (click)="removeOption($index)"
            >
              delete
            </span>
          </div>
          }
        </div>
        }
      </div>
      <button class="add-option" (click)="addOption()">新增選項</button>
      }

      <!-- 簡答輸入框 -->
      @if(type === 'T'){
      <!-- <input type="text" [(ngModel)]="textAnswer" placeholder="輸入簡答文字" /> -->
      }

      <!-- 新增/編輯按鈕 -->
      <button (click)="addQuestion()" class="add-question">
        {{ isEditing ? "編輯問題" : "新增問題" }}
      </button>
    </div>

    <!-- 點選 delete icon 複數刪除 -->
    <div class="icon-delete">
      <link
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
        rel="stylesheet"
      />
      <span class="material-symbols-outlined" (click)="deleteQuestions()">
        delete
      </span>
    </div>

    <!--------------------------- 問題表格預覽區 --------------------------->
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="questionArray">
        <!-- 選項欄位 -->
        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef style="width: 60px">選項</th>
          <td mat-cell *matCellDef="let question">
            <input
              class="checkbox1"
              type="checkbox"
              [(ngModel)]="question.checkbox"
            />
          </td>
        </ng-container>

        <!-- 編號欄位 -->
        <ng-container matColumnDef="questionId">
          <th mat-header-cell *matHeaderCellDef style="width: 60px">編號</th>
          <td mat-cell *matCellDef="let question">{{ question.questionId }}</td>
        </ng-container>

        <!-- 問題欄位 -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>問題</th>
          <td mat-cell *matCellDef="let question">{{ question.title }}</td>
        </ng-container>

        <!-- 選項欄位 -->
        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef>選項</th>
          <td mat-cell *matCellDef="let question">
            @for(item of question.options; track $index){ 選項&nbsp;{{
              $index + 1
            }}：
            {{ item.option }}
            <br />
            }
          </td>
        </ng-container>

        <!-- 類型欄位 -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef style="width: 70px">類型</th>
          <td mat-cell *matCellDef="let question">
            <ng-container [ngSwitch]="question.type">
              <span *ngSwitchCase="'S'">單選</span>
              <span *ngSwitchCase="'M'">多選</span>
              <span *ngSwitchCase="'T'">簡答 </span>
            </ng-container>
          </td>
        </ng-container>

        <!-- 必填判斷欄位 -->
        <ng-container matColumnDef="necessary">
          <th mat-header-cell *matHeaderCellDef style="width: 70px">必填</th>
          <td mat-cell *matCellDef="let question">
            {{ question.necessary ? "　✓" : "" }}
          </td>
        </ng-container>

        <!-- 操作欄位 -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="width: 120px">操作</th>
          <td mat-cell *matCellDef="let question">
            <div class="buttonDeleteEdit">
              <button
                class="button-delete"
                color="warn"
                style="margin-right: 10px"
                (click)="deleteQuestion(question.questionId)"
              >
                刪除
              </button>
              <button
                class="button-edit"
                color="warn"
                (click)="editQuestion(question.questionId)"
              >
                編輯
              </button>
            </div>
          </td>
        </ng-container>

        <!-- 表格標題列 -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- 表格資料列 -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <!-- 下一步 -->
    <div class="step">
      <button (click)="submitToCheck()">預覽</button>
    </div>
  </main>
</div>
