.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: rgb(100, 100, 100);
  gap: 20px;
}

// ------------------------ 功能表 ------------------------ //
.sidebar {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  overflow-y: auto;
  //margin-top: 20px;
}

.sidebar button,
.step button {
  height: 35px;
  width: 100px;
  font-size: 16px;
  font-family: 'Noto Sans TC Medium';
}

.content {
  width: 100%;
  max-width: 900px;
  text-align: center;
}

// ------------------------ 問卷表 ------------------------ //
.question-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

textarea,
input {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
  margin: 5px auto;
  font-family: 'Noto Sans TC Medium';
  // color: rgb(100, 100, 100);
  // border: 1px solid #eaeaea;
  // border-radius: 5px;
}

textarea:focus,
input:focus {
  border-bottom: 2px solid rgb(230, 130, 87);
}

input::placeholder {
  color: #aaa;
}

textarea,
input {
  width: 400px;
  height: 25px;
}

// 單選多選簡答的選單
select {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  height: 28px;
  width: 150px;
  //margin-right: 10px;
  color: rgb(100, 100, 100);
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-family: 'Noto Sans TC Medium';
}

.necessary {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
}

// ------------------------ 表格 ------------------------ //

::ng-deep .mat-elevation-z8 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none; // 移除陰影
  width: 100%;
}

::ng-deep .mat-mdc-table {
  border-collapse: collapse; // 單元格邊框重疊顯示為單線
}

// ::ng-deep .mat-elevation-z8 tr:nth-child(even) {
//   background-color: #f3f3f3; // 偶數行的背景色
// }

::ng-deep .mat-elevation-z8 tr {
  height: 40px; // 調整每格高度
}

::ng-deep .mat-elevation-z8 td,
::ng-deep .mat-elevation-z8 th {
  color: rgb(100, 100, 100);
  border: 1px solid #eaeaea !important;
  padding: 8px 0 8px 8px;
  text-align: left !important;
  font-family: 'Noto Sans TC Medium' !important;
}

::ng-deep .mat-elevation-z8 th {
  background-color: rgb(230, 130, 87) !important;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: bold;
}

.checkbox1 {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  width: 18px;
  height: 18px;
  font-size: 16px;
  cursor: pointer; // 設定滑鼠指標樣式
}

.buttonDeleteEdit {
  display: flex;
  //gap: 10px;
}

.button-delete {
  color: #e53935;

  &:hover {
    background-color: rgb(230, 130, 87);
    color: white;
  }

  &:active {
    background-color: rgba(230, 130, 87);
    transform: scale(0.99);
    color: white;
  }
}

.add-option,
.add-question {
  width: 80px;
  height: 30px;
}

.add-question {
  margin: 10px auto 0;
}

.icon-delete,
.icon-delete-select {
  .material-symbols-outlined {
    cursor: pointer;
    margin-right: 10px;
    transform: scale(1);
    background-color: rgb(230, 130, 87);
    border-radius: 20px;
    padding: 3px;
    color: white;
  }
}

.icon-delete {
  margin: 5px 830px 5px 0px;
}

.add-question,
.add-option {
  font-family: 'Noto Sans TC Medium';
  transform: scale(1);
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  padding: 3px;
  color: rba(100, 100, 100);

  &:hover {
    background-color: rgb(230, 130, 87);
    color: white;
  }

  &:active {
    background-color: rgba(230, 130, 87);
    transform: scale(0.99);
    color: white;
  }
}

.step {
  margin: 30px auto;
}
