<div class="container">
  <!--------------------- 功能表 --------------------->
  <aside class="sidebar">
    <button routerLink="/statistics-list">問卷統計</button>
    <button
      routerLink="/response-list"
      style="background-color: rgb(127, 116, 116); color: white"
    >
      問卷回覆
    </button>
  </aside>

  <!--------------------- 表格 --------------------->
  <div class="name" style="display: flex; gap: 10px">
    <label>問卷名稱：</label>
    <input
      type="text"
      [(ngModel)]="name"
      (keyup)="changeData($event)"
      placeholder="請輸入姓名"
      style="width: 295px; height: 22px"
    />
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="replyID">
        <th mat-header-cell *matHeaderCellDef style="width: 50px">編號</th>
        <td mat-cell *matCellDef="let element">{{ element.replyID }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="replyName">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">姓名</th>
        <td mat-cell *matCellDef="let element">{{ element.replyName }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef style="width: 60px">填寫時間</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef style="width: 60px">觀看回覆</th>
        <td mat-cell *matCellDef="let element">
          <a [href]="element.url">前往</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="trRow"
      ></tr>
    </table>

    <!-- 分頁選擇器：可選5,10,20筆顯示 -->
    <mat-paginator
      class="paginator-container"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
