<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="side" [ngClass]="checkUrl()">
    <mat-toolbar class="menu">選單</mat-toolbar>
    <mat-nav-list class="side-list">
      <a mat-list-item (click)="toHome()">首頁</a>
      <a mat-list-item (click)="login()">新增問卷</a>
      @if(isAdmin){
      <a mat-list-item (click)="logOut()">登出</a>}
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>我的問卷</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
