<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav mode="side" opened>
      <mat-toolbar>選單</mat-toolbar>
      <mat-nav-list style="width: 150px;">
        <a mat-list-item href="#">首頁</a>
        <a mat-list-item href="#">問卷設定</a>
        <a mat-list-item href="#">統計圖表</a>
        <a mat-list-item href="#">聯絡我們</a>
      </mat-nav-list>
    </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>我的應用程式</span>
    </mat-toolbar>
    <div class="content">
      <h1>烏拉呀哈！呀哈烏拉！</h1>
      <p>這是主內容區域。</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>

