

// Loading
mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

// 滿版的樣式，會覆蓋整個網站，讓使用者在 Loading 時不能操作
.loading {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(1px); // 模糊
}
