.chart-container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 40px auto;
  color: rgb(100, 100, 100); // 字體顏色
  font-weight: 500;
}

.canvas {
  height: 280px;
  width: 600px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.question {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

th,
td {
  font-size: 14px;
}
