<div class="chart-container">

  <div class="canvas">
    <canvas id="{{ dataId }}"></canvas>
    <!-- id 可自由取名，此為統計圖本身，大小由height控制 -->
  </div>

  <div class="question">

    <!-- 題目 -->
    <div
      style="
        color: rgb(100, 100, 100);
        font-weight:bolder;
        font-family: '微軟正黑體';
        font-size: 16px;
        margin-bottom: 15px;
      "
    >
      Ｑ{{ questData.id }}：{{ questData.name }}
    </div>

    <!-- 表格顯示 -->
    <table>
      <thead>
        <tr>
          <th>選項</th>
          <th>統計數量</th>
        </tr>
      </thead>
      <tbody>
        @for(label of questData.labels; track $index){
          <tr>
            <td>{{ label }}</td>
            <td>{{ questData.data[$index] }}</td>
          </tr>
        }
      </tbody>
    </table>

  </div>

</div>
