<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="login">
  <h2>問卷系統</h2>
  <input type="text" [(ngModel)]="email" required placeholder="管理者信箱" />
  <div class="password-wrapper">
    <input
      [type]="isPasswordVisibility ? 'text' : 'password'"
      [(ngModel)]="password"
      required
      placeholder="密碼"
    />
    <i class="material-icons toggle-visibility" (click)="isPasswordVisibilityToggle()">{{
      isPasswordVisibility ? "visibility" : "visibility_off"
    }}</i>
  </div>

  <button (click)="login()" class="login-btn">登入</button>
  <div>
    <p>問卷設定僅限管理員權限。</p>
    <p>請使用管理員帳戶登錄以進行問卷設定。</p>
    <a href="/front-home">返回首頁</a>
  </div>
</div>
