.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 300px;
  padding: 40px;
  border-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  //backdrop-filter: blur(10px); /* 模糊處理 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
  color: rgb(100, 100, 100);
}

p {
  font-size: 14px;
  font-weight: 500;
  color: red;
  margin: 0;
}

label {
  display: block;
  margin-bottom: 2px;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 8px auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  background-color: rgba(156, 193, 203);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgba(156, 193, 203);
}
