:host {
  background-image: url('D:/JavaProject/survey-frontend/src/login.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /* 填滿整個螢幕高度 */
  width: 100vw;
  /* 填滿整個螢幕寬度 */
  margin: 0;
  padding: 0;
  position: fixed;
  /* 固定背景 */
  top: 0;
  left: 0;
  z-index: 1000;
  /* 確保背景在最上層 */
}

.login {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  width: 300px;
  padding: 40px;
  border-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  //backdrop-filter: blur(10px); /* 模糊處理 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
  color: rgb(100, 100, 100);
}

p {
  font-size: 14px;
  font-weight: 500;
  color: red;
  margin: 0;
}

input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  margin: 10px auto;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

/* 聚焦時的底部線條效果 */
input:focus {
  border-bottom: 2px solid rgb(230, 130, 87);
}

/* 修改佔位符文字顏色 */
input::placeholder {
  color: #aaa;
  font-style: italic;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  background-color: rgb(230, 130, 87);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgba(230, 130, 87, 0.9);
}
