body {
  background-color:  rgba(255, 255, 255, 0.6);
  //background-image: url('https://framerusercontent.com/images/1bZ0QatwEYYSEqJIYCz3XsbhaUg.png');
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; //表示「隱藏水平方向」上溢出容器的內容
  margin: 0;

  font-size: 500;
  font-family: 'Noto Sans TC Medium';
}

html, body { height: 100%; }


