body {
  background-color:  rgb(250, 249, 253);
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; //表示「隱藏水平方向」上溢出容器的內容

  font-size: 500;
  font-family: 'Noto Sans TC Medium';
}

html, body { height: 100%; }

button {
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 5px;
  color: rgb(100, 100, 100);
  //font-family: 'Noto Sans TC Medium';
  cursor: pointer;

  &:hover {
    background-color: rgb(230, 130, 87);
    color: white;
  }

  &:active {
    background-color: rgba(230, 130, 87);
    transform: scale(0.99);
    color: white;
  }
}


