<div class="content">
  <div class="search">
    <div style="display: flex; gap: 10px">
      <div class="name" style="display: flex; gap: 10px">
        <input
          type="text"
          [(ngModel)]="searchReq.name"
          placeholder="請輸入問卷名稱"
          style="width: 280px"
        />
      </div>
      <button class="search-clear-button"
        (click)="searchClear()"
        style="width: 80px; height: 30px; font-size: 16px"
      >
        清空
      </button>
    </div>

    <div class="date" style="display: flex; gap: 10px">
      <input
        style="width: 123px"
        type="date"
        id="startDate"
        [(ngModel)]="searchReq.startDate"
        (ngModelChange)="checkEndDate($event)"
      />
      到
      <input
        style="width: 123px"
        type="date"
        id="endDate"
        [(ngModel)]="searchReq.endDate"
        [min]="startDate"
      />
      <button class="search-button"
        (click)="search()"
      >
        搜尋
      </button>
    </div>
  </div>

  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
  <div class="icon">
    <button
      (click)="deleteQuizs()"
      style="background: none; border: none; padding: 0"
    >
      <span class="material-symbols-outlined"> delete </span>
    </button>
    <button
      (click)="toQuestionSetting()"
      style="background: none; border: none; padding: 0"
    >
      <span class="material-symbols-outlined"> add </span>
    </button>
    <button
      (click)="toEdit(survey)"
      style="background: none; border: none; padding: 0"
    >
      <span class="material-symbols-outlined"> edit </span>
    </button>
  </div>

  <!------------------- 以下是表格 ------------------->

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- checkbox -->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef style="width: 65px">選項</th>
        <td mat-cell *matCellDef="let element">
          <input
            class="checkBox"
            type="checkbox"
            style="cursor: pointer;"
            [(ngModel)]="element.checkbox"
            [ngClass]="{ hidden: element.status === '進行中' }"
          />
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 65px">編號</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>名稱</th>
        <td
          mat-cell
          *matCellDef="let element"
          [(ngModel)]="element.name"
          (click)="toFillIn(element)"
          [ngClass]="{
            urlCss: element.status === '進行中'
          }"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style="width: 100px">狀態</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <!-- StartDate Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef style="width: 130px">開始時間</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate }}</td>
      </ng-container>

      <!-- EndDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef style="width: 130px">結束時間</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
      </ng-container>

      <!-- URL Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef style="width: 70px">結果</th>
        <td
          mat-cell
          *matCellDef="let element"
          (click)="toResponse(element)"
          [ngClass]="{
            urlCss: element.status == '已結束' || element.status == '進行中'
          }"
        >
          前往
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="trRow"
      ></tr>
    </table>

    <!-- 分頁選擇器：可選5,10,20筆顯示 -->
    <mat-paginator
      class="paginator-container"
      [pageSizeOptions]="[5, 10, 20]"
      [pageSize]="10"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
