.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px;
  gap: 10px;
  color: rgb(100, 100, 100);
}

input,
select {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
  font-family: 'Noto Sans TC Medium';
}

select:focus,
input:focus {
  border-bottom: 2px solid rgb(230, 130, 87);
}

select::placeholder,
input::placeholder {
  color: #aaa;
}

.search-clear-button {
  width: 80px;
  height: 30px;
  font-size: 16px;

  &:hover {
    background-color: rgb(230, 130, 87);
    color: white;
  }

  &:active {
    background-color: rgba(230, 130, 87);
    color: white;
    transform: scale(0.95);
  }
}

.search-button {
  width: 80px;
  height: 30px;
  font-size: 16px;
  background-color: rgb(230, 130, 87);
  color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: rgb(230, 130, 87);
    color: white;
  }

  &:active {
    background-color: rgba(230, 130, 87);
    color: white;
    transform: scale(0.95);
  }
}

// -------------------- 以下是表格 -------------------- //

::ng-deep .mat-elevation-z8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 65%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

::ng-deep .mat-mdc-table {
  border-collapse: collapse; // 單元格邊框重疊顯示為單線
}

// 一行
::ng-deep .mat-elevation-z8 tr {
  height: 40px;
}

// td 資料單元格 & th 標題單元格
::ng-deep .mat-elevation-z8 td,
::ng-deep .mat-elevation-z8 th {
  font-weight: 500;
  color: rgb(100, 100, 100);
  border: 1px solid #eaeaea !important;
  font-size: 16px;
  font-family: 'Noto Sans TC Medium';
}

// 標題
::ng-deep .mat-elevation-z8 th {
  background-color: rgb(230, 130, 87) !important;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.urlCss {
  color: rgb(100, 100, 100);
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:active {
    color: rgba(100, 100, 100, 0.7);
  }
}

// 分頁區
.paginator-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 0;
}
